# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: Python application

on:
  release:
    types: ["published"]

permissions:
  contents: write

jobs:
  build-linux:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python 3.13
      uses: actions/setup-python@v3
      with:
        python-version: "3.14"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pygame pyinstaller
    - name: Build with pyinstaller
      run: |
        pyinstaller ./main-dist.spec
    - name: Zip up file
      run: |
        tar -cvzf linux.tar.gz ./dist/main 
    - name: Publish to release
      uses: svenstaro/upload-release-action@v2
      with:
        file: linux.tar.gz

  build-windows:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python 3.13
      uses: actions/setup-python@v3
      with:
        python-version: "3.14"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pygame pyinstaller
    - name: Build with pyinstaller
      run: |
         pyinstaller ./main-dist.spec
    - name: Zip up file
      run: |
        7z a windows.zip .\dist\main.exe
    - name: Publish to release
      uses: svenstaro/upload-release-action@v2
      with:
        file: windows.zip
        
